[submodule "release-management"]
	path = release-management
	url = https://github.com/mamekudz/microGulp-example-release-management.git
[submodule "npm-statistics"]
	path = npm-statistics
	url = https://github.com/mamekudz/microGulp-example-npm-statistics.git
[submodule "dynamic-task-names"]
	path = dynamic-task-names
	url = https://github.com/mamekudz/microGulp-example-dynamic-task-names.git
[submodule "build-variants"]
	path = build-variants
	url = https://github.com/mamekudz/microGulp-example-build-variants.git
[submodule "multi-manuals"]
	path = multi-manuals
	url = https://github.com/mamekudz/microGulp-example-multi-manuals.git
